@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #2b2d42;
    color: #fff;
}

.container {
    width: 1200px;
    height: 100%;
    font-family: 'Poppins';
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

.header h1, .header input, .header button {
    margin-top: 20px;
}

.header input {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    margin-left: -20px;
}

.header span {
    margin: 0px 30px;
}

.header button {
    padding: 10px 20px;
    background-color: #8d99ae;
    font-family: 'Poppins';
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

.output {
    width: 100%;
    height: 100%;
}

.output_p {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .1em;
}

.output_w {
    font-size: 18px;
    display: inline-block;
    letter-spacing: .1em;
}